.wordcloud {
    width:100px;
    height:200px;
} 
.infobox {
    position: absolute;
    top: 300px;
    right: 200px;
    width: 300px;
    padding: 20px;
    background-color: rgba(253, 208, 162, 0.3);
    border:1px solid;
    border-radius:10px;
}

body {
    background-color: white;
    color: black;
}

.yaxis {
position: absolute;
bottom: 50px;
width: 50px; 
height: 1250px;
border-left: solid #CCCCCC;

}
.xaxis {
position: absolute;
width: 2000px; 
bottom: 80px;
border-top: solid #CCCCCC;
}