.wordcloud {
    width: 100px;
    height: 10px;
}

#highlightDIV {
    background: lightblue;
    margin: 0 auto;
    z-index: 10;
    text-align: center;
}


#infobox {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 100px;
    padding: 20px;
    background-color: rgba(248, 240, 227, 0.3);
    border: 1px solid;
    /* border-radius: 10px; */
    z-index: 5;
    overflow-y: scroll;
}
#infobox::-webkit-scrollbar {
    width: 5px;
}
#infobox::-webkit-scrollbar-thumb {
    background: rgba(8, 8, 8, 0.58);
    transition: all 0.15s ease-in-out;
}
#infobox::-webkit-scrollbar-track {
    background: transparent;
}

body {
    background-color: white;
    color: black;
}

.yaxis {
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 1250px;
    border-left: solid #CCCCCC;
}

.xaxis {
    position: absolute;
    width: 3500px;
    bottom: 80px;
    border-top: solid #CCCCCC;
}

#timeline {
    width: 200%;
}